n8n/google_reviews_local_relevance_workflow.json
{
  "name": "Google Reviews - Local relevance rank",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Start manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -860,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "review_file",
              "name": "review_file",
              "type": "string",
              "value": "C:\\Users\\user\\Downloads\\dental_reviews.csv"
            },
            {
              "id": "facility_file",
              "name": "facility_file",
              "type": "string",
              "value": "D:\\python\\demo\\demo\\results\\dental_new.csv"
            },
            {
              "id": "recent_review_glob",
              "name": "recent_review_glob",
              "type": "string",
              "value": "D:\\python\\googlemap\\results\\increments\\*.csv"
            },
            {
              "id": "profile_dir",
              "name": "profile_dir",
              "type": "string",
              "value": "D:\\python\\googlemap_codex\\google-profile-mamhidet"
            },
            {
              "id": "output_file",
              "name": "output_file",
              "type": "string",
              "value": "C:\\Users\\user\\Downloads\\dental_reviews.csv"
            },
            {
              "id": "summary_file",
              "name": "summary_file",
              "type": "string",
              "value": "C:\\Users\\user\\Downloads\\relevance_rank_summary_local.csv"
            },
            {
              "id": "rank_detail_file",
              "name": "rank_detail_file",
              "type": "string",
              "value": "C:\\Users\\user\\Downloads\\relevance_rank_detail_local.csv"
            },
            {
              "id": "unmatched_review_file",
              "name": "unmatched_review_file",
              "type": "string",
              "value": "C:\\Users\\user\\Downloads\\relevance_rank_unmatched_reviews_local.csv"
            },
            {
              "id": "rank_limit",
              "name": "rank_limit",
              "type": "number",
              "value": 10
            },
            {
              "id": "start",
              "name": "start",
              "type": "number",
              "value": 1
            },
            {
              "id": "limit",
              "name": "limit",
              "type": "number",
              "value": 10
            },
            {
              "id": "allow_failures",
              "name": "allow_failures",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "edit-run-settings",
      "name": "Edit run settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -620,
        0
      ]
    },
    {
      "parameters": {
        "command": "=powershell.exe -NoProfile -ExecutionPolicy Bypass -File \"D:\\python\\demo\\demo\\n8n\\run_local_relevance.ps1\" -ReviewFile \"{{$json.review_file}}\" -FacilityFile \"{{$json.facility_file}}\" -RecentReviewGlob \"{{$json.recent_review_glob}}\" -ProfileDir \"{{$json.profile_dir}}\" -OutputFile \"{{$json.output_file}}\" -SummaryFile \"{{$json.summary_file}}\" -RankDetailFile \"{{$json.rank_detail_file}}\" -UnmatchedReviewFile \"{{$json.unmatched_review_file}}\" -RankLimit {{$json.rank_limit}} -Start {{$json.start}} -Limit {{$json.limit}} {{$json.allow_failures ? '-AllowFailures' : ''}}"
      },
      "id": "run-local-relevance",
      "name": "Run local relevance",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "=関連度ランク付与が終了しました。summary_file={{$node[\"Edit run settings\"].json.summary_file}}"
            },
            {
              "id": "stdout",
              "name": "stdout",
              "type": "string",
              "value": "={{$json.stdout}}"
            },
            {
              "id": "stderr",
              "name": "stderr",
              "type": "string",
              "value": "={{$json.stderr}}"
            }
          ]
        },
        "options": {}
      },
      "id": "completion-summary",
      "name": "Completion summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        0
      ]
    }
  ],
  "connections": {
    "Start manually": {
      "main": [
        [
          {
            "node": "Edit run settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit run settings": {
      "main": [
        [
          {
            "node": "Run local relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run local relevance": {
      "main": [
        [
          {
            "node": "Completion summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}
